# Ignore everything
*

# Allow only what's needed
!services/radar-prepare/requirements.txt
!services/goes-prepare/requirements.txt
!services/ingestion/requirements.txt
!services/ingestion/src
!services/radar-prepare
!services/goes-prepare

# Still ignore these within the allowed directories
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.git
**/.gitignore
**/.venv
**/.idea
**/.vscode
